<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

  <h4>Filter:</h4>
  <select class="fields" >
    <option value="location" selected="seleted" disabled="disabled">location</option>
    <option value="age">age</option>
    <option value="name">name</option>
  </select>

  <form class="filter" action="index.html" method="GET">
    <div class="fieldFilter">
      <input type="checkbox" name="name" checked="checked">
      <span class="">location</span>
      <select class="is-or-not" name="">
        <option value="is">is</option>
        <option value="is not">is not</option>
      </select>
      <span class="">in</span>
      <select class="locations" name="">
        <option value="California" selected="selected">California</option>
        <option value="Texas">Texas</option>
      </select>
    </div>
  </form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.location %></td>
        <td><%= customer.age %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
